/* fichier pour définir les variables */
$fwLight: 300;
$fwMedium: 500;
$fwBold: 700;

$mainColor: #bb5432;
$altColor: #f1c5b6;
$lightColor: #fff;

$fastTransition: 0.2s;
$slowTransition: 1s;

/* quantité d'espacement de base : on l'utilise à plusieurs endroits, éventuellement
en le multipliant, pour que tous les espacements soient cohérents */
// https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Values_and_units
$gutter: 0.8rem;
