.header{
  background-color: #bb5432;
  .header-content{
    color: white;
    padding: 2rem;

    .header-title{
      font-size: 2.5em;
      font-weight: bold;
    }
    .header-info{
      margin-top: 0.5em;
    }
  }
}
