@use 'src/styles/vars';

.header{
  background-color: vars.$mainColor;
  text-align: center;

  .header-content{
    color: vars.$lightColor;
    padding: 2rem;

    .header-title{
      font-size: 2em;
      font-weight: vars.$fwBold;
    }
    .header-info{
      margin-top: 0.5em;
      font-size : 2em;
    }
    .header-input {
      background-color: vars.$altColor;
      margin-top: vars.$gutter;
      height: 2rem;
      padding-left: 1rem;
      border: none;
    }
    &::placeholder {
      color: vars.$altColor;
    }
  }
}
