@use 'src/styles/vars';

.amount {
  padding: vars.$gutter * 2;
  background-color: vars.$lightColor;
  text-align: center;

  .amount-value {
    font-weight: vars.$fwBold;
    font-size: 2em;
  }

  .amount-currency {
    font-size: 1.3em;
    margin-top: vars.$gutter;
  }
}
