@use 'src/styles/vars';

.currencies {
  text-align: left;
  background-color: vars.$lightColor;
  max-height: 350px;
  overflow-y: auto;

  .currency {
    border-top: 1px solid vars.$altColor;
    padding: vars.$gutter;
    font-weight: vars.$fwMedium;
    cursor: pointer;
    transition: background-color vars.$slowTransition;

    // transition CSS : quand la propriété CSS indiquée change de valeur, la
    // nouvelle valeur est prise en compte progressivement, pendant la durée
    // indiquée
    // https://developer.mozilla.org/en-US/docs/Web/CSS/transition

    // & sera remplacé par le nom du parent => .currency:hover
    &:hover {
      background-color: vars.$altColor;
      transition: background-color vars.$fastTransition;
    }
  }

  .currencies-search {
    border: none;
    width: 100%;
    color: vars.$mainColor;
    font-size: 1.2em;
    padding: vars.$gutter;

    &::placeholder {
      color: vars.$altColor;
    }
  }
}
